[2016-01-09 23:11] Trott opened #1 "Node.js Testing WG Meeting 2016-Jan-15"
Will take place at:
- UTC: Friday, January 15, 2016 at 6:00:00 PM
- Pacific Time (San Francisco): Friday, January 15, 2016 at 10:00:00 AM
- Eastern Time (Pittsburgh): Friday, January 15, 2016 at 1:00:00 PM
- Central European Time (Madrid): Friday, January 15, 2016 at 7:00:00 PM
- Western European Time (Lisbon): Friday, January 15, 2016 at 6:00:00 PM

Hangout link: https://plus.google.com/events/ct

[2016-01-10 07:04] Trott commented on #1
# Agenda-ish:
- Draft docs pull request: #2
- Broken tests
  - https://github.com/nodejs/node/pull/4679
- Flaky tests
  - test-tick-processor https://github.com/nodejs/node/issues/4427
  - test-debug-no-context https://github.com/nodejs/node/issues/4343
  - For the following tests: Run a stress test to confirm? Is there an easy way to search Jenkins for recent failures?
    - sequential/test-vm-sy

[2016-01-14 22:10] santigimeno opened #3 "Single stress testing of parallel tests in parallel"
When trying to reproduce a flaky test from the parallel folder, I've found very useful, to reproduce the error more easily, making some copies of it and then run those tests in parallel. Something along this lines:

[code]

From what I understand the `node-stress-single-test` job from the CI runs the tests sequentially. Maybe trying to run them in parallel can be useful. What do you think?

[2016-01-15 18:00] Trott commented on #1
It's time! https://plus.google.com/events/ctbjov1nq2pntfhvje4e7mpktd4

[2016-01-15 18:02] orangemocha commented on #1
@Trott I think we need a different link. After you start the hangout, you can copy & paste the URL of the hangout window.

[2016-01-15 18:02] Trott commented on #1
Oh, right, ugh! Beginner mistakes. Here, try this: https://plus.google.com/hangouts/_/hoaevent/AP36tYfNs71kiy_WrS0M_uLyD4dCQo6tPEApNQEiY944mPAcrr8y4A

[2016-01-19 04:19] #1 closed, assigned to nobody

[2016-01-19 04:34] Trott opened #7 "CI results searching via automation or..."
See discussion at https://github.com/nodejs/testing/blob/master/doc/wg-meetings/2016-01-15.md#ci-history

/cc @nodejs/build

[2016-01-19 04:35] Trott commented on #7
Additional comments:
- https://github.com/nodejs/testing/pull/4#issuecomment-172135846
- https://github.com/nodejs/testing/pull/4#issuecomment-172136580
- https://github.com/nodejs/testing/pull/4#issuecomment-172136580

[2016-01-20 19:59] bryont opened #8 "Node.js setup testing"
Hello,
I am working on Microsoft Nano Server.  I am looking to see if Node.JS currently has any regression test scripts we can use to further test the support of Node.JS installed on Microsoft Nano Server.

Thanks,
Bryon Trott
v-bryont@microsoft.com

[2016-01-21 02:02] cjihrig commented on #8
@bryont we have a full test suite located in https://github.com/nodejs/node/tree/master/test. If you're working with the source repository, you can run `make test` to run a lot of the tests.

[2016-01-22 22:07] bryont commented on #8
Hello cjihrig is there a version of make test that will run on windows?

[2016-01-22 22:15] cjihrig commented on #8
Yes. Check out https://github.com/nodejs/node#windows.

[2016-01-22 23:50] bryont commented on #8
<a>@Cjihrig<href=https://github.com/cjihrig /a>

Alright, so when I attempt to run vcbuild I get the following error,

[code]

What exactly is going wrong?

[2016-01-23 00:57] cjihrig commented on #8
Do you have all of the prerequisite software installed (mentioned in my previous link)? Note that the version of Python is important.

[2016-01-25 19:17] bryont commented on #8
I had to remove Python 3.5 and it started to work,  However I am now getting errors like this:

c:\users\v-bryont\desktop\node-master\src\debug-agent.h(128): fatal error C1001: An internal error has occurred in the
compiler. [C:\Users\v-bryont\Desktop\node-master\node.vcxproj](compiler file 'f:ddvctoolscompilercxxfeslp1cconvert.cpp', line 10610)
   To work around this problem, try simplifying or c

[2016-01-25 19:58] cjihrig commented on #8
You need a C++11 capable compiler. I'm not quite sure what that translates to on Windows, but that could be what you're running into.

@nodejs/platform-windows can one of you help?

[2016-01-26 06:06] Trott opened #9 "Meeting #2"
@nodejs/testing Should we keep the meeting at the same time/day as before, or should I launch a Doodle poll to pick another time?

If we keep it at the same time, we're looking at:

UTC: Friday, February 5, 2016 at 6:00:00 PM
Pacific Time (San Francisco): Friday, February 5, 2016 at 10:00:00 AM
Eastern Time (Pittsburgh): Friday, February 5, 2016 at 1:00:00 PM
Central European Time (Madrid): Friday

[2016-01-26 06:12] Trott commented on #3
I started to write up a lengthy pros-and-cons comment for this, but then realized that everything I was saying boiled down to a simple statement:

The two pieces of information needed on this would be "how valuable would this feature be" and "how difficult would it be to implement on Jenkins"? I don't know the answer to either of these, which makes me unqualified to have an opinion. All I know is

[2016-01-26 06:14] Trott opened #10 "Stress tests don't seem to be working in CI"
I haven't been able to get a stress test going on pi1-raspbian-wheezy for several days now. I imagine this is something @joaocgreis would have to take a look at, and of course he may be busy with other things. Not sure there's much else to do about it other than maybe seeing if anyone else on @nodejs/build can take a look.

[2016-01-26 06:19] Trott opened #11 "Flaky Tests"
- test-tick-processor: https://github.com/nodejs/node/issues/4427
- <strike>test-http-regr-gh-2928: https://github.com/nodejs/node/issues/4830</strike>
- test-repl: https://github.com/nodejs/node/issues/4823
- <strike>test-debug-no-context: https://github.com/nodejs/node/issues/4343</strike>
- <strike>test-tls-ticket-cluster</strike>
- <strike>test-vm-syntax-error-stderr</strike>
- <strike>test-cl

[2016-01-26 06:23] rvagg commented on #10
@Trott can you point us to a job where it's not working? I'm missing context on this I think.

[2016-01-26 06:24] Trott commented on #9
Actually, let's make it February 5 instead of January 29. This way, we have plenty of time to Doodle poll another time if it doesn't work for people. How's February 5? (I'll edit the previous comment with that info.)

[2016-01-26 06:35] Trott commented on #10
@rvagg Sure:
- https://ci.nodejs.org/job/node-stress-single-test/365/nodes=pi1-raspbian-wheezy/
- https://ci.nodejs.org/job/node-stress-single-test/362/nodes=pi1-raspbian-wheezy/
- https://ci.nodejs.org/job/node-stress-single-test/361/nodes=pi1-raspbian-wheezy/
- https://ci.nodejs.org/job/node-stress-single-test/360/nodes=pi1-raspbian-wheezy/

[2016-01-26 07:27] rvagg commented on #10
@Trott should be fixed now, running your job (only 100 times, feel free to start another if you like) @ https://ci.nodejs.org/job/node-stress-single-test/366/nodes=pi1-raspbian-wheezy/console

@joaocgreis I turned on the regex check for the tasks in that job so that the Windows bat stuff only runs on Windows and the Bash bit only runs on everything else. (also started a Windows job here: https://c

[2016-01-26 07:29] rvagg commented on #10
Oh, that Windows build is _not_ happy .. not sure it's to do with this change, however, @joaocgreis would you mind having a look please?

[2016-01-26 07:57] MylesBorins commented on #9
Works for me

[2016-01-26 12:38] orangemocha commented on #9
The proposed time works for me

[2016-01-26 13:11] orangemocha commented on #3
While I see the value of being able to stress parallel test runs, I am not sure if this strategy would be very effective.  For one, tests in the parallel folder are assumed to be safe to run in parallel with other tests, but likely _not with themselves_.

Does the test runner output tell us which tests are running concurrently (at the time of a failure)? If not, that's probably low hanging fruit.

[2016-01-26 13:16] orangemocha commented on #8
@bryont which version of the compiler are you using? VS 2015 is required.

[2016-01-26 16:28] cjihrig commented on #9
I'll be on vacation on the 5th. Don't let that stop anything.

[2016-01-26 17:30] joaocgreis commented on #9
Ok for me too

[2016-01-26 18:24] joaocgreis commented on #10
@rvagg your changes LGTM. I ran https://ci.nodejs.org/job/node-stress-single-test/368/nodes=win-vs2015/console and it was happy, the `win-vs2015` label forced it to run in the slaves that we currently use to build the test-commit job. The problem with your run was that it used a slave that is having some problem with Visual Studio, I'll have to investigate it. The test-commit job is not affected b

[2016-01-26 21:00] bryont commented on #8
I have tried on two machines, one with VS 2015, python 2.7, node.JS 4.2.3
With VS 2015 I got messages that it could not find Visual Studio.

The other computer with VS 2013 went the farthest until I got the internal Compiler errors.

Any tricks in getting VS 2015 to be seen by VCBUILD?

With only VS 2015 installed I see;
Looking for Visual Studio 2015
Looking for Visual Studio 2013
Failed to Find

[2016-01-26 22:36] santigimeno commented on #3
Thanks for the feedback.
I understand that some tests in the parallel folder might not work well when running some of them concurrently but shouldn't they? What I'm trying to say is that lots of tests are quite similar to each other in the sense that they handle system resources: create a socket and bind it to a port, create temporal files, etc. and there are no collisions among them. Why shouldn'

[2016-01-26 22:41] santigimeno commented on #9
It works for me too

[2016-01-26 23:37] santigimeno commented on #7
I have implemented a very basic proof of concept here: https://github.com/santigimeno/ci-test-results. For the moment it just retrieves the failing tests of a specific job run, but it could easily expanded to check for a range of runs. It still has no tests, no error checking, etc. It's just to know if this fits with what @Trott  had in mind

[2016-01-27 00:59] MylesBorins opened #12 "make test-debug is not working"
What is going on with this?

[2016-01-27 01:26] cjihrig commented on #12
cc: @nodejs/testing

[2016-01-27 02:49] Trott commented on #12
I think @jbergstroem was working on debug mode tests at some point recently (or maybe it was someone else in @nodejs/build ?). Not sure if that was distinct from `make test-debug` or if that's exactly what it was.

[2016-01-27 03:13] jbergstroem commented on #12
@TheAlphaNerd what's the problem? Are we talking fails or that it actually doesn't work?

The jenkins job for running the debug suite over at https://ci.nodejs.org/job/jbergstroem-test-commit-debug/ is not using `make test-debug`, rather:

[code]

[2016-01-27 03:34] Trott commented on #10
All is working A-OK for me again on CI stress tests. Thanks for the help, @rvagg and @joaocgreis!

[2016-01-27 03:34] #10 closed, assigned to nobody

[2016-01-27 05:30] Trott opened #13 "Revise Flaky Tests Wiki Page"
https://github.com/nodejs/node/wiki/Flaky-tests

[2016-01-27 11:06] orangemocha commented on #3
I remember a few instances of tests that make an assumption on a resource (eg file name, pipe name) that is unique to the particular test, and I think we have considered that enough to make the test parallelizable. The goal of running tests in parallel was to speed up a test run, so we haven't had a need to run tests in parallel with themselves. If we had that need, I suppose we could make the 'pa

[2016-01-27 12:18] orangemocha commented on #8
Which edition of VS are you using? If you look inside vcbuild.bat, you'll see that it's looking for VS140COMNTOOLS. Is VS140COMNTOOLS set on your machine? If not, re-run VS 2015 setup from "programs & features", make sure that you have Visual C++ installed. If everything looks ok but VS140COMNTOOLS, try repairing the VS installation.

[2016-01-27 19:25] Trott commented on #9
Here's the Hangout link for when the time comes. https://plus.google.com/hangouts/_/hoaevent/AP36tYfglMbvBYj7QiiI8rG_a4xAgRhemvuKSExpp6-mxPK9-qPcLw?hl=en&authuser=0

[2016-01-27 21:41] jbergstroem commented on #3
If run in parallel tests _should_ use their own subfolders for sockets, temporary files and similar. Not sure about `common.PORT` tests though. I guess it would be a good way to flesh out tests that doesn't support it?

[2016-01-27 22:36] Trott commented on #7
I'm not sure I was the one who suggested this. (Maybe, but it might have been someone else.) Anyway, looks like a fine start to me. I've submitted a pull request to arrange it in a way that I think will be more maintainable and testable, but feel free to reject the PR and do something else if you have different ideas.

EDIT: Looks like the suggestion came out of conversation between me and João. R

[2016-01-27 22:39] Trott commented on #7
/cc @nodjes/build

[2016-01-27 22:40] Trott commented on #7
/cc @nodejs/build

[2016-01-28 18:48] Trott commented on #9
Please tag existing or new issues with `wg-agenda` if you want to discuss them at next week's meeting. Or leave a comment here to add an agenda item.

Agenda items so far:
- [initial draft of docs](https://github.com/nodejs/testing/pull/2)
- [Single stress testing of parallel tests in parallel](https://github.com/nodejs/testing/issues/3)
- [CI results searching via automation or...](https://github

[2016-01-28 22:12] bryont commented on #8
Thanks
 I finally got it building and running.  Did see one error in the test though before it 100% about EPERM: operation not permitted, symlink

Bryon

running 'cctest'
Running main() from gtest_main.cc
[==========] Running 1 test from 1 test case.
[----------] Global test environment set-up.
[----------] 1 test from UtilTest
[ RUN      ] UtilTest.ListHead
[       OK ] UtilTest.ListHead (0 ms)
[

[2016-01-29 06:04] Trott commented on #8
The test failure is likely because the user running the tests does not have permissions to create symbolic links. On UNIX-like operating systems, you typically don't need any special privileges to do that, but that's not the case on Windows. At least that's my understanding.

[2016-01-29 06:05] Trott commented on #8
Closing as it appears the original issue has been resolved. Feel free to re-open if I'm mistaken about that.

[2016-01-29 06:05] #8 closed, assigned to nobody

[2016-02-02 23:35] bryont commented on #8
Hello,
Is there a way to run these tests without compiling each time?  We are looking if it is possible to move the correct files to the Nano Server were we have Node.JS setup and run the tests.  The only file that seems to run on it own after the running vcbuild.bat is cctest.exe

[2016-02-03 10:03] joaocgreis commented on #8
The files

[code]

should be sufficient to run the tests. With those, you can run the tests with something like

[code]

[2016-02-03 20:06] bryont commented on #8
Thank you for your suggestion.  Even when running with the nobuild switch.
Vcbuild.bat release x64 nobuild nosign test-ci

  I see it keeps looking for Visual studio 2015 or 2013?

The Idea is to be able to run Node.JS tests on the Nano Server with a few extra files needed as possible.

[2016-02-03 21:37] santigimeno commented on #9
Hello all. Sorry for the late notice, but an unavoidable personal matter has come up and I won't be able to make it :(. I'll try to comment on the issues though.

[2016-02-03 22:07] orangemocha commented on #8
Yes, it's expected that vcbuild.bat will look for VS.

You should be able to run the tests and bypass vcbuild by doing:

`python tools\test.py --mode=release   -p tap --logfile test.tap message sequential parallel`

[2016-02-05 01:25] bryont commented on #8
orangemocha
Thanks for you help. That command line running test.py
was exactly what I was looking for.  I now have all the NodeJS tests running on Nano Server.

[2016-02-05 17:45] Trott commented on #9
Google Doc for minutes: https://docs.google.com/document/d/1U1wMVYLLO2HGmmZrobxhbQazpPRRfA0prvT7O-MzJ28/edit

Send me your Google user name (here or in IRC or email or whatever), and I'll enabled editing for you so we can all try to keep things up to date during the meeting. (Mostly, it's useful so you can fill in your own stuff for the standup part.)

[2016-02-08 19:02] santigimeno commented on #3
I've read the last meeting minutes regarding this issue. I'd be really interested in doing this. How should we proceed from here? Alexis said about opening an issue in the build repository. Should I do that, or someone else? Thanks

[2016-02-08 19:43] MylesBorins opened #15 "Test basic functionality of gyp + npm"
It should be obvious if a change is going to break basic functionality of either gyp or npm. Having either broken on master breaks testing infrastructure and smoke testing

https://github.com/nodejs/node/commit/1124de2d76ad7118267d91a08485aa928a5f0865 is an example of a recent change that broke both utilities on master. requiring `internal/utils` in `fs` broke both npm and node-gyp which had depen

[2016-02-08 21:21] Trott commented on #3
@santigimeno I don't know if it matters who opens the issue. I would say you should open it and others can chime in as needed.

[2016-02-09 15:54] orangemocha commented on #3
:+1:

[2016-02-09 18:37] MylesBorins commented on #15
Submitted basic test for npm https://github.com/nodejs/node/pull/5166

[2016-02-11 19:08] bryont commented on #8
Hello
I am trying to understand all the switches with test.py.  Can you run just a few tests or a single test with the --run" switch?  This says:
      help="Divide the tests in m groups (interleaved) and run tests from group n (--run=n,m with n < m)",

I am trying to figure out a way to run just a single test like:
not ok 61 test-child-process-spawn-typeerror.js

If I run that just using the test

[2016-02-11 23:19] Trott commented on #8
`python tools/test.py --mode=release parallel/test-child-process-spawn-typeerror`

That's on OS X which is Unix-like. You may need to modify it for Windows (e.g., maybe change `/` to `\`).

[2016-02-12 06:45] rvagg commented on #15
I have my head in node-gyp atm, adding some more stuff and running tests and remembering how difficult it is to test. There's a setup that uses Docker to do some integration testing @ https://github.com/nodejs/node-gyp/blob/master/test/docker.sh but afaik I'm the only one who's ever run it (I'm just finding that it's currently a tiny bit busted with the current version of Docker). Probably has lim

[2016-02-12 18:56] santigimeno commented on #3
Issue @ build group opened here: https://github.com/nodejs/build/issues/331

[2016-02-12 20:48] santigimeno commented on #7
I've found this: https://wiki.jenkins-ci.org/display/JENKINS/Test+Results+Analyzer+Plugin. Maybe it's worth giving it a try.

[2016-02-13 02:02] MylesBorins opened #16 "Test that no files in repo are too long for windows"
Windows has a max path length. It would likely be a good idea for us to check that we have no files in our tree that are too long.

[2016-02-22 19:30] Trott opened #17 "Meeting #3"
@nodejs/testing Sorry for the late notice. Will this still work for enough people to make the meeting worthwhile?

UTC: Friday, February 26, 2016 at 6:00:00 PM
Pacific Time (San Francisco): Friday, February 26, 2016 at 10:00:00 AM
Eastern Time (Pittsburgh): Friday, February 26, 2016 at 1:00:00 PM
Eastern Caribbean Time (Barbados): Frida, February 26, 2016 at 2:00:00 PM
Central European Time (Madri

[2016-02-22 20:26] cjihrig commented on #17
Works for me.

[2016-02-22 20:41] MylesBorins commented on #17
works for me

[2016-02-22 21:55] Trott commented on #13
Page mostly looks OK to me. Main issues:
- Talks a lot about `node-accept-pull-request` but we haven't been using that for a long time and it's not clear that it will be coming back. (Personally, I'd love to see it come back, but not everyone seems on board with that.)
- This segment probably needs some review/revision:

Specifically:
1. P-1 label doesn't seem to exist
2. Milestones seem to only m

[2016-02-22 23:13] cjihrig opened #18 "Add a place for reproducing current bugs"
Currently, Node's issue tracker is closing in on 500 open issues. A lot of issues seem to get forgotten about. Then, when someone gets around to triaging, he/she has to try to reproduce the issue to see if it is still valid. Sometimes there is a reproducible test case. Sometimes there isn't. Sometimes a bug is still valid. Sometimes the bug has been fixed and the issue just slipped through the cra

[2016-02-22 23:26] geek commented on #18
This is a good direction... will make detecting fixed issues easier.  You will be able to periodically run the `/broken-test` folder to find when an issue is already corrected.

It also helps people reporting issues to feel empowered about submitting a PR with a broken test to demonstrate the issue.

The solution should also lighten the load of issue sizes as well, since reproducing code can go in

[2016-02-23 15:12] joaocgreis commented on #17
Ok for me.

[2016-02-23 17:11] orangemocha commented on #17
:+1:

[2016-02-23 17:43] santigimeno commented on #17
I can make it

[2016-02-24 23:53] santigimeno opened #19 "Review the use of timeouts"
I'm not sure if this deserves an issue or if there's anything actionable, but anyway...

Lately, most of the failing tests I've found: https://github.com/nodejs/node/pull/5342, https://github.com/nodejs/node/pull/5339, https://github.com/nodejs/node/pull/5129 were flaky because of the use (misuse?) of timers. It seems to me that a lot of times, the use of timers is not needed, as we can rely on th

[2016-02-25 00:03] Trott commented on #19
I would love to get some consensus on whether arbitrary timers is (on the one hand) a valid way to provide a helpful error message to people running tests without the wrapper or (on the other hand) an anti-pattern that introduces maddening flakiness into our tests. (Spoiler alert: I think it's an anti-pattern.)

[2016-02-25 00:11] cjihrig commented on #18
ping...

[2016-02-25 14:12] santigimeno commented on #18
I really like the idea. What would be the workflow? Should the reporters be encouraged to submit the PRs?

[2016-02-25 14:36] cjihrig commented on #18
My thoughts are that reporters would be encouraged, but not required to, submit the failing test cases. Since it would have to go through the normal PR process, outside reporters might not want to be bothered. It would be more of a helper for collaborators in triaging issues and writing tests. From our point of view, the workflow would just be to PR failing tests for existing issues (assuming the

[2016-02-25 14:47] santigimeno commented on #18
Ok, it makes sense to me. Thanks

From the CI point of view, just running `make jslint` on the new folder right?

[2016-02-25 14:51] cjihrig commented on #18
Yes, linting at the most, since the tests would be expected to fail. Unless there is some way to run the tests and verify that they fail. That is beyond what I originally had in mind though.

[2016-02-25 15:04] orangemocha commented on #18
It sounds like an interesting idea. I wonder if making it go through the regular PR/review process will discourage people from submitting the test case.

We could lower the bar a bit and consider these more repro-cases than broken-tests. By that I mean that a repro-case doesn't have to be perfect according to the test guidelines in order to be useful. Of course, we can have both.

For well written

[2016-02-25 15:08] cjihrig commented on #18
I'd rather discourage people from submitting a PR. They can just submit an issue, and a collaborator can make a PR. I think we are a lot less likely to get buy in from people if we try to lower the bar on PRs into nodejs/node.

[2016-02-25 15:13] orangemocha commented on #18
Makes sense. Less well-formed repro cases - if we wanted such a thing - could go into a separate repo.

[2016-02-25 18:19] cjihrig commented on #18
@nodejs/ctc would you be OK with this proposal?

[2016-02-25 18:36] Trott commented on #18
Without getting too much into process/implementation details, I like this idea a lot.

I also think that creating tests (without fixes) from bug reports would make an excellent source of `good-first-contribution` possibilities.

Feel free to add the `wg-agenda` tag if you want to talk about this specifically at the Testing WG meeting tomorrow.

[2016-02-25 19:31] ChALkeR commented on #18
Looks like a great idea to me.

Moreover, perhaps it should be turned into a desireable way of dealing with bug reports — after a testcase is built (and without a valid testcase bugs are usually closed after some amount of time), it could be pushed into the broken-tests directory, and if no testcase could be built, one should try better to explain why this is actually a bug and why a testcase is i

[2016-02-26 04:23] #9 closed, assigned to nobody

[2016-02-26 04:24] Trott commented on #17
Hangout link: https://plus.google.com/hangouts/_/hoaevent/AP36tYcSAlhAVME050Q1Hb8fWiEw56oEyvb-lvrDwvU_5OMDUuzB2A?hl=en&authuser=0

[2016-02-26 04:26] Trott commented on #17
Google Doc for minutes:
https://docs.google.com/document/d/1Xc4yWmskxuAdxpRgHw7XzFcOM-AsFVrBOntN8VC_DOc/edit?usp=sharing

[2016-02-26 04:32] Trott commented on #17
Updated agenda:
- How to motivate people to fix tests (Alexis)
- Revise Flaky Test wiki page (Rich/Alexis) https://github.com/nodejs/testing/issues/13
- Skipped Test Catalog (Alexis?)
- Single stress testing of parallel tests in parallel https://github.com/nodejs/testing/issues/3
- CI results searching via automation or... https://github.com/nodejs/testing/issues/7
- Flaky tests https://github.com

[2016-02-26 08:56] santigimeno opened #20 "Experimental Jenkins instance"
From https://github.com/nodejs/build/issues/331#issuecomment-188909950

Setting up this would help us moving forward with https://github.com/nodejs/testing/issues/3 and https://github.com/nodejs/testing/issues/7. I would like helping with this.

[2016-02-26 14:08] santigimeno commented on #11
It looks like these 2 are no longer flaky:
- `test-tls-ticket-cluster`: https://github.com/nodejs/node/issues/2510
- `test-vm-syntax-error-stderr`: https://github.com/nodejs/node/issues/2660

[2016-02-26 17:22] santigimeno commented on #7
This issue may be related: https://github.com/nodejs/build/issues/345

[2016-02-26 18:26] joaocgreis commented on #3
Current scripts in use by https://ci.nodejs.org/job/node-stress-single-test/ :

Windows

[code]

All others:

[code]

[2016-02-26 18:50] Trott commented on #17
Minutes: https://docs.google.com/document/d/1Xc4yWmskxuAdxpRgHw7XzFcOM-AsFVrBOntN8VC_DOc/edit

Please review/comment/edit if you see anything missing or wrong.

[2016-02-26 18:51] Trott commented on #17
Recording: https://www.youtube.com/watch?v=7rL59c8a5Qk

[2016-02-26 18:57] #17 closed, assigned to nobody

[2016-02-26 19:44] orangemocha opened #21 "How to motivate people to fix flaky tests"
(continued from https://github.com/nodejs/build/issues/248)

The current documented policy for flaky tests (https://github.com/nodejs/node/wiki/Flaky-tests#what-to-do-when-you-encounter-a-new-flaky-test) calls for opening an issue to track them when you mark the test as flaky, and assigning the issue to the next release milestone.

One part that I think could use some improvement is clarifying who

[2016-02-26 19:52] Trott opened #22 "Meeting #4"
**Meeting Time:** 7PM Friday March 18th UTC, or in your local timezone:
http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Testing+WG+Meeting&iso=20160318T19&p1=%3A
### Where
- [Google Hangout link](https://plus.google.com/hangouts/_/hoaevent/AP36tYdidQzEGdI1yBURb3Tp3feEMYDBDmTfBBCjBtBP6N93qN8JAg) for participants
- [YouTube link](http://www.youtube.com/watch?v=Z4vU2e1LPnI) for obser

[2016-02-26 22:34] Trott commented on #11
Thanks, @santigimeno! Updated. (Also submitted a PR to remove them from the `.status` files where they are still marked as flaky.)

[2016-02-29 20:46] jbergstroem commented on #20
@santigimeno can you pm me on IRC? (you can find me in #node-build)

[2016-03-02 12:30] santigimeno commented on #11
Removed `test-http-regre-gh-2998` again

[2016-03-02 12:37] santigimeno commented on #11
Added `test-debug-port-from-cmdline`

[2016-03-04 13:56] cjihrig commented on #18
This exists now (https://github.com/nodejs/node/pull/5528). Just need to populate the folder now. Closing this issue.

[2016-03-04 13:56] #18 closed, assigned to nobody

[2016-03-11 17:51] Trott commented on #22
The U.S. goes to daylight savings time this weekend. (Spain and Portugal don't switch for another week or two.)

Leave the meeting's UTC time alone? This also means the times I originally posted above for the U.S. (and maybe elsewhere?) are wrong. (I'll fix them in a minute, copying the link/service from the Build WG meeting announcement.)

Thoughts?

[2016-03-11 17:56] Trott commented on #22
Wait, I'm wrong, it will be one hour *later*. And we already pushed it an hour later, so now it will be noon if you are on Pacific Daylight Time. ANYWAY, question is still the same: Keep it constant UTC and people just have to adjust for their local daylight savings if/when it occurs? Or something else?

[2016-03-11 19:33] orangemocha commented on #22
I think any convention is good as long as we stick to it. We use UTC for CTC/TSC/Build so I'd +1 using it here too.

[2016-03-11 21:13] Trott commented on #22
Sounds good to me. Unless someone else objects, we'll keep the UTC time constant.

[2016-03-15 18:06] joaocgreis commented on #16
This has been taken care of by a check in Jenkins: https://github.com/nodejs/build/issues/338

I'll close this issue for now, please reopen if you want to discuss other ways of doing this check.

[2016-03-15 18:06] #16 closed, assigned to nobody

[2016-03-15 18:10] MylesBorins commented on #16
This should be enough for now. Can reopen if we get bit again.

[2016-03-15 18:19] orangemocha opened #24 "Checking commit messages in CI"
Would this be useful?

We have some logic in https://ci.nodejs.org/job/node-push-merge-commit that already manipulates all commit messages in a PR. With the addition of a verification script for a given commit message (script contribution welcome), I think I could make this into a check for node-test-pull-request.

[2016-03-15 18:26] cjihrig commented on #24
IMO, yes. We could verify line lengths, the blank line, presence of `PR-URL` and at least one `Reviewed-By` metadata, use of absolute URLs, etc.

[2016-03-15 18:35] joaocgreis commented on #22
cc @nodejs/testing

I remember @santigimeno proposed a different time for the meeting, perhaps he wants to propose a UTC time that will still be ok after the DST change?

[2016-03-15 18:58] Trott commented on #22
I'm going to step away from the computer for a bit. I neglected to make a Hangout link this a.m. If someone else wants to do it, please do! But if not, I'll do it before the meeting (which is in one hour, see you then!).

[2016-03-15 19:02] MylesBorins commented on #22
@Trott isn't the meeting on friday?

[2016-03-15 19:05] mikeal commented on #24
If verifying this is going to be automated can someone finally take a stab at automating the creation of all of it :)

[2016-03-15 19:06] santigimeno commented on #22
I think so, maybe he's talking about the build meeting?

[2016-03-15 19:07] orangemocha commented on #24
@mikeal you mean the creation of metadata?

[2016-03-15 19:08] mikeal commented on #24
creating the metadata and squashing the commit, basically all the manual steps in the collaboration guide.

[2016-03-15 19:13] santigimeno commented on #22
@joaocgreis DST starts in `Spain` in a couple of weeks, so I think we could return to the previous UTC time: `18:00 UTC`, if it's ok for you.

[2016-03-15 19:20] Trott commented on #22
Oops sorry yes the meeting is Friday. I was disoriented. I blame daylight
savings. See you Friday.
On Tue, Mar 15, 2016 at 12:14 PM Santiago Gimeno notifications@github.com
wrote:

[2016-03-15 19:22] orangemocha commented on #24
That part was being discussed at https://github.com/nodejs/build/issues/325

[2016-03-15 19:52] joaocgreis commented on #22
No objection in going back to 18:00 UTC for Meeting `#5` from me.

[2016-03-16 11:36] rvagg commented on #24
Examples of bad commit msgs we have in there now that keep on bothering me.

[code]

Also the lack of PR-URL is a big problem, while we've made our tooling work around it, it makes the process a little less accurate and potentially error prone.

We can't exactly expect PR-URL and Reviewed-By to exist on incoming PRs, at least initially, and usually those are only added later on. Perhaps just a com

[2016-03-16 15:40] orangemocha commented on #24
Right, commits don't generally have metadata when they are run through node-test-pull-request.
I was thinking of a simple check for the formatting _before_ metadata is added. Mostly the line lengths, empty line between title and description,etc.

[2016-03-18 16:36] Trott commented on #22
Google Hangout link for participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYdidQzEGdI1yBURb3Tp3feEMYDBDmTfBBCjBtBP6N93qN8JAg

YouTube link for observers: http://www.youtube.com/watch?v=Z4vU2e1LPnI

[2016-03-18 17:02] Trott commented on #22
Agenda-ish:
- Hooray! We've been chartered!
- The Roadmap doc kind of contains the agenda: #25

Anything else? (The Roadmap doc contains all the unfinished agenda items from last week etc. as far as I know.)

[2016-03-18 17:07] Trott commented on #22
Google Doc for minutes: https://docs.google.com/document/d/1oZc0DZ4YL6rTGebXiTSJOgoZSenDqtT3dNoey7b7UC8

I added everyone as editors except Alexis for whom I don't seem to have an email address...

[2016-03-18 17:20] Trott commented on #22
The agenda in the Google Doc is now much more detailed than the one here, so I would recommend referring to that.

Also, I have one small quick thing for the meeting that I'd like to discuss before we go live, so we might not start broadcasting until a few minutes after the hour.

[2016-03-18 19:14] MylesBorins commented on #24
@rvagg we could introduce a push hook for pushing to master or a release branch

[2016-03-18 19:45] Trott opened #26 "Test/processes that create files that aren't in temp directories"
Find and eliminate tests/processes that create files that aren’t in temp directories or other expected places. (Example: make test-addons creates files in test/addons.)

/cc @TheAlphaNerd

[2016-03-18 19:47] MylesBorins commented on #26
I'm into helping on this one.

[2016-03-18 20:44] Trott opened #27 "Timers and tests"
What should be the general things we want to happen with timers in tests?
- Recommend against using timers if at all possible. (Obviously, if the test is specifically testing timers, then using them is fine.)
- Do we distinguish between `setTimeout()`, `setImmediate()`, and `process.nextTick()`? I think only `setTimeout()` is generally problematic. The other two are usually fine.
- Tests that rely

[2016-03-18 20:44] Trott commented on #27
Idea for allowing timers from CLI but not in CI: Maybe a `common.testTimeOut()` in `common` that can detect if it is being run on CI or not. If on the CLI, it sets a timer that calls `common.fail()` with a message supplied by the test. If run from CI, it is a no-op.

[2016-03-18 21:23] santigimeno commented on #19
Closing in favor of https://github.com/nodejs/testing/issues/27

[2016-03-18 21:23] #19 closed, assigned to nobody

[2016-03-19 03:04] Trott opened #29 "benchmark tests in CI and/or release process"
The recent performance regression related to the use of `for (let...)` would be a good example of something that could be caught by performance benchmarking in CI or the release process or elsewhere.

I like that better than linting for this sort of thing because what is performant in v8 will change, but the need for performance overall will not. So a performance benchmark will do a better job of

[2016-03-20 04:55] claudiorodriguez commented on #21
I hope you don't mind me putting my two cents here, but I've fixed a few flaky tests and lately I've been looking into fixing more. My takeout is:
- It would help a lot to put the actual log lines the test in question produced, into the issue. The CI UI can be a bit cumbersome to newcomers. Perhaps the finder of the flaky test isn't the most motivated to fix it, but I think asking for some relevan

[2016-03-22 06:29] rvagg commented on #24
Yeah, nice, `^(master|v\d+x(-staging))$` would do it I think?

[2016-03-22 18:20] orangemocha commented on #27
What about specifying test timeouts based on a "reference system" and applying different multipliers on each platform. CI needs not be an exception.

[2016-03-22 18:22] orangemocha commented on #29
cc @nodejs/benchmarking

[2016-03-22 18:54] mhdawson commented on #29
The benchmarking wg is looking at benchmarks overall.  Is this a suggestion to add/run a specific benchmark or that we need runs overall ?   If the former please open an issue on the benchmarking wg with the suggestion/and or requirement and we can look at adding it to what we track at: https://benchmarking.nodejs.org/.    This page has what we have in the CI so far in terms of running/collecting

[2016-03-22 20:04] Trott commented on #27
The problem is that these things are bugs/anti-patterns, and not features. Getting them out of CI is what we're aiming for. It's not a grudging compromise to give up a desirable feature.
- There are already timeouts on CI. Code-based timeouts are unnecessary on CI.
- Running the code-based timeouts in CI as we are currently doing is easily the top cause of flakiness. Making it platform-dependent (

[2016-03-23 15:28] joaocgreis commented on #27
For reference, one test that uses a code-based timeout is `test-repl.js`: https://github.com/nodejs/node/blob/master@%7B2016-03-22%7D/test/parallel/test-repl.js#L467-L469

Here's a failure on a very slow RPi1 because of this: https://ci.nodejs.org/job/node-test-binary-arm/1468/RUN_SUBSET=3,nodes=pi1-raspbian-wheezy/tapTestReport/test.tap-97/

[2016-03-23 19:48] orangemocha commented on #27
I should have stated that I am in full agreement with this statement:

So I was thinking of the 60 second timeout that is now used in CI to determine that a test is hanging. If I understood correctly, devs would like that timeout to be shorter when running tests on their machine. What is the right value of that timeout? Maybe 10 seconds? But for tests that take a bit longer to complete, what's the

[2016-03-23 19:57] Trott commented on #27
I think it's more like this: There's a bunch of tests where there is code like this:

[code]

...where `X` is some arbitrary number. Might be 5000, might be 500.

Sometimes, we go to remove these things, and it sails through. Sometimes we go to remove them and someone states the opinion that if you run the test at the command line (without the `test.py` wrapper), you should get a decent error mess

[2016-03-24 16:50] Trott commented on #21
I'm noticing an uptick in tagging @nodejs/testing when a flaky test fails. In and of itself, that's OK, but it seems more often than not to be the extent of what is done, and that may be the opposite of OK. How do we feel about that? I can see different ways of looking at it, but I'm finding myself feeling this way:

This makes it easy for people to ignore flaky tests and also ignore actual failur

[2016-03-24 16:56] Trott commented on #21
One possible thing to do is have a short, easy-to-understand bullet point or checklist of things to do when you find a possibly-flaky test and refer to it when this happens. Off the top of my head:
- Investigate the test to confirm that the failure is unrelated to your change.
- Re-run CI on the platform where the test failed. If the test fails consistently, then the test is not flaky. Something i

[2016-03-26 23:34] santigimeno commented on #27
I totally agree.

I wouldn't have said it better.

Has this response been that common? I don't remember anyone complaining about it (probably I have missed those comments). It seems to me that lately the PR's that remove the timers have been accepted with little (no) resistance.

I think that, for the reasons that @Trott enumerated, we should consider that, in addition to recommending against the

[2016-03-27 03:09] Trott commented on #27
Honestly, no. I've perhaps provided too much weight to a single instance.

[2016-03-28 17:19] santigimeno commented on #20
Ongoing discussion for allowing access to build resources here: https://github.com/nodejs/build/pull/354

[2016-04-01 10:47] joaocgreis commented on #7
Just found this: https://www.npmjs.com/package/nodejs-ci-ctl

[2016-04-15 14:19] santigimeno opened #31 "Code coverage"
Having this included in our tooling would be great. There's a PoC from @evanlucas here: https://github.com/evanlucas/node/commit/1445e3d7fda9fc46f45a1183f75fa9263b24cf18 with the status of current master here: https://nodejs-coverage-kvhhcskvtz.now.sh/. It only covers the `js` files but it looks like a good starting point.

Having this to identify the code not covered by tests can also be helpful

[2016-04-15 21:42] mhdawson commented on #31
+1 from me in respect to wanted to get this run regularly in the CI and publishing the results.  Maybe on nodejs.org as testcoverage.nodejs.org

[2016-04-16 14:11] Fishrock123 commented on #31
cc @chrisdickinson who worked on some amount of this quite some time back

[2016-05-05 00:05] bengl opened #33 "redundant tests"
I've found in my perusal of the `test` directory that there are some tests that seem to be testing the same functionality. The redundant tests could likely be removed without sacrificing the integrity of the test suite.

Would PRs removing these redundancies be worthwhile? Or should all the tests remain, to ensure nothing goes untested by mistake?

I'd submit a PR to test the waters on this, but I

[2016-05-05 01:20] cjihrig commented on #33
I think we would have to evaluate these on a case by case basis. There are too many edge cases and historical artifacts to give a sweeping "yes" or "no" answer.

[2016-05-05 01:43] bengl commented on #33
Fair/reasonable enough.

[2016-05-05 01:43] #33 closed, assigned to nobody

[2016-06-24 15:58] Trott commented on #31
Look what @addaleax did!
- https://node-core-coverage.addaleax.net/
- https://github.com/addaleax/node-core-coverage

Some similarities to @evanlucas's thing on the JS side, so I guess there's some common tooling being used there.

[2016-06-24 16:16] evanlucas commented on #31
what @addaleax has done is awesome. Much better than mine :]

[2016-06-24 16:35] Fishrock123 commented on #31
Oooh I call fixing the timers code coverage. :3

[2016-06-24 16:54] cjihrig commented on #31
Is there any way to combine coverage results across multiple runs? Windows coverage is reported as lower than it really is right now.

[2016-06-24 16:58] addaleax commented on #31
@evanlucas I’d actually say it looks incredibly similar :D (wasn’t aware of your approach when starting to code, though)

@cjihrig Probably. For the JS coverage, that should be trivial, for C++… I have no experience doing coverage with MSVS, and I don’t know how different the coverage output formats would be.

This is just a cronjob run on a single Linux machine, so coverage is definitely higher t

[2016-06-24 17:11] Fishrock123 commented on #31
@addaleax Not to pile more work on you, but I think we'll definitely need a way to recognize opt-out comments. Some spots in the codebase should be unreachable and the tooling will need to recognize that.

What tooling are you using for this? All custom, or?

[2016-06-24 17:13] Fishrock123 commented on #31
Also there are a couple places that I'm legitimately not sure are possible to reach in regular tests, such as the logic for `_third_party_main`

[2016-06-24 17:27] addaleax commented on #31
`istanbul` for the JS side, `gcc`’s `--coverage` option (gcov) for C++, there’s nothing custom in there, sorry.

[2016-06-24 17:31] addaleax commented on #31
i.e. if we decide to stick with gcc’s coverage, http://stackoverflow.com/a/4745127/688904 should do the trick?

I agree that it might be nice to have a more flexible coverage tool that does things istanbul-style, but I’d have to do a bit more research on that.

[2016-06-24 17:41] Fishrock123 commented on #31
Oh if it's Istanbul then that already has support for ignoring code iirc.

[2016-06-24 18:30] santigimeno commented on #31
This is great. Excellent job!

[2016-06-24 22:42] Trott commented on #31
Test coverage data bearing fruit: https://github.com/nodejs/node/pull/7413

[2016-06-29 20:26] mhdawson commented on #31
Optimally I'd like this to be run regularly in the CI and potentially pushed to something like coverage.nodejs.org

I've used gcov in the past and although not ideal since it does not give platform specific coverage we ran on linux nightly and it resulted in good information to action.  We could likely limit to a single run on master (assuming that is where we'd do most work to close coverage gaps

[2016-06-29 20:30] mhdawson commented on #31
I should have also said I can volunteer to do some of the work to add jenkins jobs etc.

[2016-06-29 23:03] addaleax commented on #31
Right now the approach I use requires applying patches to the node core source code and build files… is that a problem? Does anybody have better ideas? I assume that if this is going to become a “blessed” feature of Node core, something more reliable would be nice (that doesn’t break e.g. when the patches don’t apply cleanly anymore).

[2016-06-30 19:17] mhdawson commented on #31
Could you list out the changes required to the source/build files at a high level? Depending on what they are, for example to add additional options to enable the gcov generation, we might able to build them into the build/configuration files guarded by an option like --enable-gcov or something like that

[2016-06-30 19:26] addaleax commented on #31
For the C++ coverage, that’s basically adding compiler flags, and that can probably be included in the build config quite easily.

For JS, right now it requires adding a more or less reliably called exit hook to the source for writing the coverage data to a file, creating a copy of the `lib/` tree with the instrumented code, and including the files from that tree in the binary. This one could mayb

[2016-07-20 23:15] #22 closed, assigned to nobody

[2016-07-20 23:21] Trott opened #34 "Someone else to chair/run this group?"
I've been delinquent on scheduling meetings and taking care of business for this group the last few months. If anyone else thinks they might be willing and able to take it on, I'd be more than happy to see that happen.

It would be nice to see more stuff happen with https://github.com/nodejs/testing/blob/master/doc/ROADMAP.md

[2016-07-21 15:54] cjihrig commented on #34
Could you define "taking care of business" other than having meetings? I think having people who care about tests is important for the project, but I think most, if not all, of the work could be done without meetings.

[2016-07-21 21:52] Trott commented on #34
@cjihrig wrote:

You raise a good point. Maybe we just need an IRC channel so we can coordinate synchronously once in a while.

[2016-08-30 14:20] CurryKitten opened #36 "Proposal for nightly code coverage run"
We'd like to get code coverage run every night and published to codecoverage.nodejs.org

There has been some great work done already as discussed in:
https://github.com/nodejs/testing/issues/31

To produce these coverage results, we believe the steps are as follows:
- [x] Move the patches in https://github.com/addaleax/node-core-coverage to https://github.com/nodejs/testing/coverage
- [x]  Create

[2016-08-30 14:25] Trott commented on #36
@nodejs/build

[2016-08-30 14:28] addaleax commented on #36
Hi @CurryKitten! :)

I believe @jbergstroem was already working on something in that direction?

[2016-08-30 14:57] jbergstroem commented on #36
Sounds good! @mhdawson: you want to carry this? I was talking to @Trott and @addaleax on how to (optimally) run this as part of a pr review but it's a bit too expensive for us at the moment.

[2016-08-30 17:05] mhdawson commented on #36
I happy to help move this forward, create CI jobs, etc and pull in other build team members when necessary for pieces like pushing the files over to the website.

[2016-08-30 17:16] jbergstroem commented on #36
@mhdawson perhaps slap a label on the same hosts that run v8test (ish) and use those seeing how they have more cpu/ram to spare. `test-rackspace-fedora24-x64-1` being a good example. We'd need a new playbook for required packages though.

[2016-09-01 15:06] mhdawson commented on #36
@jbergstroem the reason I was going to suggest the benchmarking machine is because as I understand the website needs to pull fro a known location.

[2016-09-01 18:58] jbergstroem commented on #36
@mhdawson sgtm as long as we can make sure there's no benchmarking going on.

[2016-09-07 22:25] mhdawson commented on #36
Staring to integrate here:

https://ci.nodejs.org/job/node-test-commit-linux-coverage-mdawson/11/nodes=benchmark/consoleFull

Still work to do,  adding bit by bit so that I understand, also modifying so that it is the same as our standard build job except for the additions required to generate the code coverage.

So far have added up to the point where it builds and runs the tests.

[2016-10-12 22:05] mhdawson commented on #36
Ok, job is setup to run as documented here:

https://github.com/nodejs/testing/pull/37

In the interim I have data being pushed here nodejs.devrus.com:8080 (one of my machines) so that people can see what it will look like.

@addaleax could you submit a PR adding these files to github.com/nodejs/testing/coverage:

gcovr-patches.diff
generate-index-html.py
patches.diff

I'll then submit a PR for my

[2016-10-12 22:06] mhdawson commented on #36
As an FYI I also renamed the job to remove my name so its now: https://ci.nodejs.org/view/All/job/node-test-commit-linux-coverage/

[2016-10-20 01:55] rvagg commented on #36
done, live @ https://coverage.nodejs.org/, config @ https://github.com/nodejs/build/pull/516

[2016-10-20 13:21] mhdawson commented on #31
This is being progressed in https://github.com/nodejs/testing/issues/36 I think we can close this issue.

[2016-10-20 13:29] #31 closed, assigned to nobody

[2016-10-21 21:21] mhdawson commented on #36
Thank @rvagg !

@addaleax I'm thinking we should send out some sort of announcement through the evangelism group.  I'm happy to do it but given you did a lot of the initial work I was thinking you might want to do that or we could collaborate to put it together.

[2016-10-21 21:35] addaleax commented on #36
@mhdawson Where are the files from which the https://coverage.nodejs.org/ is currently generated? There are still references to my github project, and idk if that should be fixed before making it something “official”… otherwise, yeah, you can feel free to send out anything you like :)

[2016-10-24 11:56] rvagg commented on #36
oh, btw, they are in coverage-out/out on benchmarking, that's where we are pulling from so if you fix that up let us know and we can adjust, happy to leave that as is if it doesn't bother you tho

[2016-10-24 12:50] mhdawson commented on #36
@addaleax.  Some of the files are still coming from your repo, with one having been modified and residing on the benchmarking machine.  Once we land your PR I'll commit the changed file there 2.

Once that happens I'll get you to take another look to make sure all of the references are gone and then send something out.

@rvagg once they are fixed up it should automatically update the files in cove

[2016-10-24 12:58] mhdawson commented on #21
Long time since the last discussion, but I think we can as for "Open an issue titled "Investigate flaky TESTNAME". Include a link to the failure in CI." as the minimal responsibility we all have as collaborators.

In terms of the PR to mark the test as flaky, I'm thinking that can depend on how flaky it is.  In some cases it may be better not to have it marked as that makes more invisible and poss

[2016-11-04 21:28] mhdawson commented on #36
Ok updated the job to clone the testing repo instead and use the files from there. @addaleax are all the references you were worried about gone ?

[2016-11-04 21:34] addaleax commented on #36
https://coverage.nodejs.org/ looks good to me, yep :+1:

[2016-11-16 20:45] mhdawson commented on #36
Announced via weekly update.  Improved via comments/updates from website group.  My next step is to update the documentation.  I know @CurryKitten is working on moving more into core in order to avoid possible conflicts in the future.

[2016-12-04 17:45] Fishrock123 opened #45 "Errors in the tests when running coverage locally"
[code]

Commands run:

(gcovr)
[code]

(node)
[code]

cc @addaleax and @mhdawson ?

[2016-12-04 22:19] addaleax commented on #45
Yeah, I think the message tests have always been kind of problematic under coverage, and I don’t think they are run as part of the coverage CI runs :/

[2016-12-04 22:49] addaleax commented on #45
Oh and fwiw, for JS coverage only gcovr should be unnecessary, so you can skip that

[2016-12-05 17:21] Fishrock123 commented on #27
Correct, the others are guaranteed to fire in pretty much any case.

[2016-12-18 02:41] richardlau commented on #15
Basic node-gyp testing is covered now we are testing `test/addons` in the CI?

[2016-12-19 11:18] bnoordhuis commented on #15
That, and upstream node-gyp has grown some add-on tests as well.

[2017-01-26 06:32] Trott opened #48 "Invite @edsadr?"
The testing group is inactive as a group that meets and plans, but is still very active in terms of getting @-notifications and responding to them on issues that involve tests. Given how much they've done with tests lately, would it make sense to invite @edsadr to be in the group?

[2017-01-26 09:03] santigimeno commented on #48
yes please!

[2017-01-26 17:19] mhdawson opened #49 "Move coverage.nodejs.org to SVGs from PNGs"
From https://github.com/nodejs/nodejs.org/issues/1110#issuecomment-275234548

@silverwind mentioned:

While the logos sizes are now fixed, they PNGs should really be replaced with the SVG versions I added recently. They are 1/8th of the size at no quality loss.

[2017-01-26 17:25] silverwind commented on #49
It's a simple URL change. Replace

[code]
With
[code]
For light backgrounds, there's also
[code]

[2017-01-26 22:04] edsadr commented on #48
would be really nice, happy to help here as much as I can 🙂

[2017-01-26 23:28] Trott commented on #48
Done.

[2017-01-26 23:28] #48 closed, assigned to nobody

[2017-01-29 23:17] daviddias opened #50 "Factor out all Node.js core modules interface tests to become their own modules"
I would like to propose the extraction (or perhaps creation in some cases) of the tests that validate the interface of each Node.js core module. Through this refactor, we would have batteries of tests that can be used for the several Browser shims that exist today, avoiding duplication of tests and cases where something is left out of the interface.

It has been the case, where a shim was not 100%

[2017-02-01 22:29] mhdawson commented on #49
Hope to get to this tomorrow

[2017-03-01 09:27] richardlau commented on #15
We broke compiling addons in v7.7.0: https://github.com/nodejs/node/issues/11628

[2017-03-02 17:18] Trott commented on #3
It's not particularly obvious I suppose, but if you pass something like this to `RUN_TESTS`, it will run the test 8 times in parallel:

[code]

[2017-03-02 19:42] gibfahn commented on #3
@Trott couldn't you also do this?

[code]

[2017-03-02 19:53] Trott commented on #3
<strike>@gibfahn In my experience, no. It will use multiple processes (if you are on a multi-processor host) to run the tests you supply (in this case just one test), and after it is done, it will repeat until it runs 1000 times. But it will not run multiple repetitions at once, if that makes any sense. But feel free to verify. Stuff may have changed or I could just be flat out wrong.</strike>

[2017-03-02 19:55] Trott commented on #3
Actually, I just tested it and it seems to work as you suggest and not as I describe. Woot!

[2017-03-02 19:56] Trott commented on #3
@gibfahn Actually, I just tested it and it seems to work as you suggest and not as I describe. Woot!

[2017-03-02 19:57] Trott commented on #3
@gibfahn One caveat is that it will only work for tests in `parallel` but that's all we're usually concerned about anyway. If you ever do want/need to run a test in (say) `sequential` in parallel (maybe to test if it might be OK to move it out of `sequential`), then the wonky approach I suggest is the way to go. Er, or just move the test to `parallel` and run it from there. :-D

[2017-03-02 20:02] Trott commented on #3
Bleargh! I don't think my last comment is right either (in that I don't think my wonky suggestion will cause the test run in parallel either). I'm going to stop now.

[2017-04-20 17:52] jasnell opened #53 "Is this WG still active?"
Is this WG still active? If not, we should consider dechartering.

[2017-04-20 17:57] cjihrig commented on #53
As long as we keep @nodejs/testing for mentioning, I don't think we need a chartered WG.

[2017-04-20 17:58] santigimeno commented on #53
No, it's not and I would agree. I would like to keep the `@nodejs/testing` handle active though.

[2017-04-20 17:58] jasnell commented on #53
Maintaining the @nodejs/testing team would certainly be doable (and preferable)

[2017-05-10 15:01] jasnell opened #54 "Dechartering this Working Group?"
The Testing Working Group has been inactive for quite some time. I have opened a proposal in the CTC repository to decharter the group. The nodejs/testing team would still exist, but this repository would be archived and the responsibilities assigned to the Testing Working Group would be folded back into the CTC's area of responsibility.

Refs: https://github.com/nodejs/CTC/pull/121

[2017-05-10 22:23] gibfahn commented on #54
SGTM

[2017-05-10 23:35] cjihrig commented on #53
Closing in favor of the more formal #54

[2017-05-10 23:35] #53 closed, assigned to nobody

[2017-05-11 17:49] Trott commented on #54
No objection from me either.

[2017-05-20 13:33] Trott commented on #54
/cc @nodejs/testing

[2017-05-22 14:43] gdams commented on #54
SGTM

[2017-05-23 02:10] refack commented on #50
Interesting... 🤔
Since [[meta: decharter the Docs and Testing Working Groups](https://github.com/nodejs/CTC/pull/121)] let's move this to core. Create a tracking issue with breakdown of the needed tasks a la https://github.com/nodejs/node/issues/11233.
I assume you'd want to start with `http` & `https` and the `http2` from https://github.com/nodejs/http2/tree/master/test/parallel?

[2017-05-24 02:52] Trott commented on #50
I'm not necessarily opposed to this, but I'm not sure there's a solid reason it should really be the job of core. There are already modules out there that replicate/track core modules (or at least used to) like https://github.com/jscissr/http-node. Someone could do the same for the tests.

[2017-05-24 12:06] refack commented on #50
Not trying to be grandiose, but it'll give our API "standard" like properties, a la https://github.com/w3c/web-platform-tests. Something to consider...

[2017-05-29 10:33] daviddias commented on #50
Exactly, https://github.com/w3c/web-platform-tests is a great example of this.

@refack should this issue be a simple list of each core API and say "factor tests out"? Looks like those issues are for things already approved, no?

[2017-05-29 10:55] refack commented on #50
Yes on the content. Not necessarily on the "already approved". IMHO to get a conversation going, you'll need to open an issue in `nodejs/node` anyway. Doing some "leg work" might help with convincing you are serious, and it's not a frivolous notion.
But before that, I had an idea, since all our tests start with `const common = require('../common')` we could setup an overloadable `common.require`,

[2017-05-29 14:22] mhdawson commented on #54
+1 from me.  If activity picks up it can always be re-charted.

[2017-08-14 19:46] MylesBorins opened #55 "How do we make sure tests that don't run in CI don't break"
Specifically thinking suites like pummel or internet

[2017-08-14 21:08] Trott commented on #55
For internet, I put a proposal (in an issue in the main repo, I think) to create a target for it and run it once a day like we do for node-daily-master, but limiting it to just one or two OS/platforms.

I could see doing the same for pummel.

[2017-08-17 00:42] gibfahn commented on #55
Run them in ci...

As Trott said, we should run a complete set daily. We could probably run on all platforms, there's a lot of downtime every day in CI (as @rvagg was just mentioning elsewhere).

[2017-08-17 15:45] Trott commented on #55
Probably worth checking that the `internet` tests and the `pummel` tests don't do anything we wouldn't want a whole lot of hosts doing at once. It's *probably* just fine, but you know, just in case....

[2017-08-18 15:41] mhdawson commented on #55
Agreed we should run daily.  If specific tests do something objectionable if run by a number of machines at the same time that might be an indicator that we should either change or possibly pull out into a different group where its clear that some caution should be taken before running them.

[2017-09-28 07:20] #12 closed, assigned to nobody

[2017-09-28 07:21] #15 closed, assigned to nobody

[2017-09-28 07:31] MylesBorins commented on #55
did we make any progress on nightly runs of these tests?

[2017-09-28 23:22] Trott commented on #55
@MylesBorins Not as far as I know. I would suggest opening an issue in the the build repo and bringing it up at a Build WG meeting.

[2017-09-28 23:26] Trott commented on #3
Turns out you can do this with something like `-j 64 --repeat 128 test/parallel/test-foo.js`

[2017-09-28 23:26] #3 closed, assigned to nobody

[2017-09-28 23:27] Trott commented on #3
I think this can be closed but re-open if I'm wrong...

[2017-09-28 23:27] #11 closed, assigned to nobody

[2017-09-30 16:50] #34 closed, assigned to nobody

[2017-09-30 16:51] Trott commented on #36
I think is done via coverage.nodejs.org so closing. Comment or re-open if I'm missing something!

[2017-09-30 16:51] #36 closed, assigned to mhdawson

[2017-09-30 16:51] #54 closed, assigned to nobody

[2017-12-20 13:24] Trott commented on #13
I've edited the wiki page to correct the identified issues.

[2017-12-20 13:24] #13 closed, assigned to nobody

[2017-12-21 22:44] Trott commented on #26
Checked this in a rough way by running `make test` in one terminal window on macOS while running `sudo fs_usage -w | grep node | egrep '\bopen\b' | grep W | grep -v /dev/` in another terminal window and then lots of manual review of the results. Number of problematic files found is fewer than I expected.  PRs coming soon.

[2017-12-21 22:45] Trott commented on #26
https://github.com/nodejs/node/pull/17808

[2017-12-21 22:53] Trott commented on #26
https://github.com/nodejs/node/pull/17810

[2017-12-21 23:08] Trott commented on #26
https://github.com/nodejs/node/pull/17811

And that's the last of them, as far as I can tell. Closing.

[2017-12-21 23:08] #26 closed, assigned to nobody

[2017-12-23 17:43] Trott commented on #29
As the person who opened this, and because this WG is defunct, I'm going to declare https://benchmarking.nodejs.org/ adequate for my purposes. (If someone would prefer a job that actually flags performance regressions rather than relying on visual inspection or something, perhaps take the conversation up in the Build WG.)

[2017-12-23 17:43] #29 closed, assigned to nobody

[2017-12-24 03:01] Trott commented on #27
Closing as this WG is defunct and this issue has been dormant for a year. Feel free to comment (or, if GitHub allows, re-open) if you think it should stay open.

[2017-12-24 03:01] #27 closed, assigned to nobody

[2017-12-24 03:13] maclover7 opened #56 "Move coverage generation scripts to nodejs/build repo"
There are other assorted scripts that live there for Jenkins jobs, to me it seems like a better place to store them.

[2017-12-27 16:14] cjihrig commented on #56
Seems fine to me, if the build team doesn't mind.

[2017-12-27 19:56] Trott commented on #56
This repository is mostly defunct, so anything that moves us closer to being able to archive it is a good thing. So +1 from me.

[2018-01-03 18:35] mhdawson commented on #56
I'm ok with moving them.  The test WG was more active when they were put here, but given that is no longer the case moving to build is fine with me.

We will need to co-ordinate to avoid breaking the nightly job but it should be easy to copy over and update the job before we remove the copies in this repo.

[2018-01-03 20:16] maclover7 commented on #56
https://github.com/nodejs/build/pull/1055

[2018-01-04 04:19] #56 closed, assigned to nobody

[2018-01-04 04:23] #7 closed, assigned to nobody

[2018-03-13 20:56] Trott commented on #20
Closing here. This can go in the build repo if we want to keep talking about it. Feel free to comment or re-open if you think I'm taking the wrong approach here.

[2018-03-13 20:56] #20 closed, assigned to nobody

[2018-03-13 20:56] Trott commented on #21
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2018-03-13 20:56] #21 closed, assigned to nobody

[2018-03-13 20:57] Trott commented on #24
Closing here. This can go in build repo if we want to keep talking about it. (It has been proposed that this repo might be archived, which I think would be a good idea TBH.)

[2018-03-13 20:57] #24 closed, assigned to nobody

[2018-03-13 20:57] Trott commented on #45
Coverage is now in the main repo. Closing this. It can be opened in the main repo if it's still an issue. Thanks.

[2018-03-13 20:57] #45 closed, assigned to nobody

[2018-03-13 20:58] Trott commented on #49
Coverage stuff is now in other repos. Closing this. Feel free to re-open or comment if you think I'm taking the wrong approach here.

[2018-03-13 20:58] #49 closed, assigned to nobody

[2018-03-13 20:59] Trott commented on #50
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that. (If the conversation indeed should continue, I suspect it may be better to have it in the main repo than here.)

[2018-03-13 20:59] #50 closed, assigned to nobody

[2018-03-13 20:59] Trott commented on #55
This can continue in the build repo if we want to continue having the conversation. Closing. Feel free to re-open or comment if you think that's not the right approach.

[2018-03-13 20:59] #55 closed, assigned to nobody